body {
    background-color: #E8E8E8;
}

.box-shadow-nag {
    box-shadow: 0 0 5px 5px #D3D3D3;
}

.dropdown-menu-nag {
    width: auto;
    height: 100vh;
    overflow-y: auto;
    align-self: center;
}

.div-opcao {
    width: 20rem;
    height: auto;
    display: inline-block;
    margin: auto;
    margin-bottom: 40px;
}

.modal-nag {
    width: 200vh !important;
    height: 200% !important;
}

.botao-lojas-ngm {
    border: none;
    background-color: #E8E8E8;
}

.div-lojas {
    border: 1px solid gray;
    border-radius: 5px;
}

.botaoEnviar {
    background-color: gray;
}

.nav-menu-nag {
    background-color: #043971 !important;
}

.button-menu-nag {
    background-color: #043971 !important;
    color: white;
}

.button-menu-nag:hover {
    background-color: #0d6efd !important;
    color: white;
}

.max-size-ngm {
    word-wrap: break-word;
}